@font-face {
    font-family: "JF Flar Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg') url('../fonts/JF-Flat-regular.woff') format('woff'), url('../fonts/JF-Flat-regular.ttf') format('turntype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.42857143;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.custom-navbar{
    border-bottom: 3px solid #eef0eadf;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;

}

.custom-navbar .container{
    padding: 0;
}

.custom-navbar .container .navbar-brand{
    margin-left: 30px;
    margin-top: 4px;
}


.custom-form-control, .custom-btn{
    color: #868686;
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 5.5px 13px;
    transition: all .3s ease;
}

.custom-navbar .custom-form-control:focus{
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}

.custom-btn:hover{
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
}
.categories .nav-link{
    padding: 6px 13px 6px;
    border-radius: 0;
    border-right: 0;
}
.custom-dropdown-menu{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #ebebeb;
    color: #777;
}
.custom-dropdown-menu .checkbox{
    margin: 0 5px;
    display: inline-block;
    
}

.custom-dropdown-menu .checkbox label input{
    margin-left: 5px;
}

.custom-btn-primary{
    background-color: #ff3956;
    border-color: #ff3956;
    color: #fff;
    padding: 5px 20px 6px 20px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
}

.custom-btn-primary:hover,
.custom-btn-primary:active,
.custom-btn-primary:focus,
.custom-btn-primary:active:focus,
.custom-btn-primary:active:hover{
    background-color: #c2101e;
    border-color: #c2101e;
}

.custom-navbar .navbar-nav>li{
    margin: 0;
}

.custom-navbar .navbar-nav li a.nav-link{
    color: #555555;
    font-size: 14px;
    padding: 15px;

}

.custom-navbar .navbar-nav a.nav-link:hover{
    color: #000000;
}

.custom-navbar .navbar-nav li.active>a.nav-link{
    color: #ff3956;
    font-weight: 700;
    border-bottom: 1px solid #ff3956;
}

.custom-navbar .navbar-nav li.active>a.nav-link:hover{
    background-color: #d4d4d4;
}

.custom-dropdown-menu li a:hover{
    background-color: #ffe7ea;
}

.custom-navbar a.btn-icon{
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.custom-navbar .btn-icon:hover{
    color: black;
    background-color: #bfbfbf;
}

.custom-navbar .navbar-nav li:last-of-type{
    margin-top: 10px;
}

#carousel-featured{
    background-color: #f7f8f3;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img{
    height: 375px;
}

#carousel-featured .product-details{
    border: 1px solid #dddddb;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #f7f8f3;
}

#carousel-featured .product-details .product-category{
    border: 1px solid #dddddb;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f7f8f3;
}

#carousel-featured .product-details h1{
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}

#carousel-featured .product-details .custom-btn-primary{
    color: #f8ad47;
    border-color: #f8ad47;
    background-color: transparent;
    padding: 9px 24px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}

.sale{
    background-color: #53ccd7;
    color: white;
    font-weight: bold;
    position: absolute;
}
.sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    padding: 15.5px;
    left: -15px;
    top: -15px;
    line-height: 90%;
    transform: rotate(-30deg);
    font-size: 100%;
    flex-direction: column;
}

#carousel-featured .product-details .sale.large span{
    font-size: 12px;
}

.custom-carousel-indicators-primary{
    top: 235px;
    right: 41.65%;
}

.custom-carousel-indicators-primary img{
    height: 75px;
    width: 75px;
    border: 2px solid #dddddb;
    margin-right: 2px;
    background-color: #f7f8f3;
}

.custom-carousel-indicators-primary img.active{
    border-color: #f8ad47;
}
#carousel-featured .carousel-control-prev,
 #carousel-featured .carousel-control-next{
     background: 0 0;
     color: #868686;
     text-shadow: none;
     font-size: 20px;
 }

 .custom-carousel-control.carousel-control-prev>i{
     position: absolute;
     right: 25%;
 }

 .custom-carousel-control.carousel-control-next>i{
    position: absolute;
    left: 25%;
}

.carousel-row>.col-12{
    padding: 0;
}

/*قسم مميزات المتجر*/
#store-features{
    box-shadow: 0 0 15px #eef0ea;
    position: relative;
    top: -30px;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 5px;
}

#store-features .feature>img{
    height: 40px;
    margin-bottom: 10px;
}

/*الاكثر مبيعا*/

.custom-thumbnail{
    border: 2px solid #eef0ea;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-thumbnail:hover{
    border-color: #53ccd7;

}

.custom-thumbnail h4{
    font-size: 18px;
    padding-top: 10px;
}

.custom-thumbnail .card-body{
    padding: 9px;
}

.custom-thumbnail .price{
    padding-top: 10px;
}

.price{
    color: #53ccd7;
}

.rating{
    color: #c2c2c2;
}

.rating .active{
    color: #f3af41;
}

.overlay{
    position: absolute;
    background-color: rgba(83, 204, 215, .5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease;
}

.overlay:hover{
    opacity: 1;
}

.add-to-cart-btn{
    background-color: white;
    color: turquoise;
    font-weight: bold;
}

.custom-thumbnail .sale{
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
    direction: ltr;
}

.custom-thumbnail .sale:before{
    content: "-";
}

.custom-carousel-indicators{
    position: static;
    width: 100%;
    text-align: center;
    margin: 0;
}

.custom-carousel-indicators>li,
.custom-carousel-indicators>li.active{
    height: 13px;
    width: 13px;
    margin: 2px;
    display: inline-block;
    background-color: #dbdbdb;
}

.custom-carousel-indicators>li.active{
    background-color: #565656;
}

.custom-thumbnail img{
    height: 250px;
    width: 100%;
    max-width: 250px;
    margin: 0;
    display: block;
}

/*الماركات العالمية*/

.custom-panel{
    border: 4px solid #eef0ea;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px;
}

.custom-panel .product-image{
    width: 100%;
    margin-bottom: 8px;
}

.custom-btn-primary{
    color: #f8ad47;
    border-color: #f8ad47;
    background-color: transparent;
}

.custom-btn-primary:hover, .custom-btn-primary:focus,
 .custom-btn-primary:active, .custom-btn-primary:active:hover,
 .custom-btn-primary:active:focus{
    color: #b86d07;
    border-color: #b86d07;
    background-color: transparent;
 }

 .custom-panel h4,
 .custom-panel .price{
     font-size: 130%;
     margin-top: 0;
     margin-bottom: 15px;
 }

 .custom-text-muted{
     color: #a9a9a9;
 }

 .custom-arrow-btn{
     background-color: #fff;
     color: #868686;
     border: 1px solid #ebebeb;
     box-shadow: none;
     border-radius: 2px;
     padding: 5px 10px;
     font-size: 12px;
 }

 .brand-products{
    margin-bottom: 20px;
 }

 .brand-text{
     display: inline-block;
 }
 
 .brand-products .brand-nav{
     margin-top: 14px;
 }

 #row-brands h3.custom-heading{
    border-top: 1px solid #eef0ea;
    padding-top: 25px;
 }

 /*تذييل الصفحة*/

 #brand-logos{
     background-color: #dbeefa;
     padding: 25px 0px;
     width: 100%;
     color: #555555;
 }

 #brand-logos img{
     margin-left: 25px;
     margin-right: 25px;
     max-height: 100px;
     max-width: 100px;
 }

 #brand-logos img{
     margin-left: 25px;
     margin-right: 25px;
     max-height: 100px;
     max-width: 100px;
 }

 #footer-nav{
     width: 100%;
     background-color: #1f1e1e;
     padding: 50px 0 40px;
     background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
     background-repeat: no-repeat, no-repeat;
     background-position: 110% 0, -10% -150%; 
 }
 

 #footer-nav-links{
     margin: 30px 0;
 }

 #footer-nav-links a{
     color: #555555;
     margin-left: 30px;
     font-weight: bold;
 }

 #footer-nav-links a:hover{
     text-decoration: none;
     color: #a9a9a9;
 }

 #footer-nav #newsletter{
     border-top: 1px solid #292929;
 }

 #footer-nav form{
     max-width: 260px;
     margin: 0 auto;
 }

 #footer-nav form label{
     margin: 27px 0 16px;
     font-size: 12px;
     font-weight: bold;
 }

 .custom-btn-primary2{
    color: white;
    background-color: #f8ad47;
    border-color: #f8ad47;
 }

 .custom-btn-primary2:hover, .custom-btn-primary2:focus, .custom-btn-primary2:active,
 .custom-btn-primary2:active:hover, .custom-btn-primary2:active:focus,
 .custom-btn-primary2:hover:disabled{
    background-color: #b86d07;
    border-color: #b86d07;
 }

#newsletter form input{
    background-color: #313131;
    opacity: .6;
    border: none;
}

#newsletter form button{
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    padding: 6px 12px 5px;
    color: inherit;
}

 #footer-copyright-social{
     background-color: #151515;
     color: #303030;
     padding-top: 30px;
     padding-bottom: 30px;
     font-weight: 700;
     width: 100%;
 }

 #footer-copyright-social a{
     color: #303030;
     margin-left: 5px;
     margin-right: 5px;
 }



/***************************
 *****************
 PRODUCT PAGE
 *****************
 ***************************/

.custom-breadcrumb{
    background-color: transparent;
    padding: 25px 0;
}

.custom-breadcrumb a{
    color: #555555;
    text-decoration: none;
}

.custom-breadcrumb a:hover{
    color: #f8ad47;
}

.custom-breadcrumb .active{
    color: darkgray;
}

.custom-breadcrumb>li+li::before{
    content: '/';
    color: #555555;
    padding: 0 5px;
}

/*صورة المنتج*/

#carousel-product-images .carousel-indicators{
    position: relative;
    top: -35px;
    right: auto;
}

#carousel-product-images .img{
    border: 1px solid #8c8c8c;
    width: 100%;

}

/*Product.html*/

.block-100{
    width: 100%;
    display: block;
}

.product-category{
    color: #a9a9a9;
}

#form-product-selection h2{
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0 18px;
}

.price.large{
    font-size: 30px;
    margin-top: 15px;
}

.borders-between>*+*{
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-description{
    margin: 0px 0 10px;
}

.product-option{
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 23px;
    color: #c2c2c2;
    margin: 3px 3px 9px 3px;
}

.product-option label{
    font-weight: 700;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.product-option input{
    display: none;
}

.product-option.active{
    border-color: #f8ad47;
    color: #f8ad47;
}

.color-option.active{
    border-color: #fff;
    outline: #000 solid 1px;
}

.product-quantity select{
    width: 56px;
    height: 34px !important;
    padding: 6px 12px;
    margin-right: 3px;
}

.product-quantity .label{
    padding-top: 10px;
}

.product-quantity{
    padding-bottom: 20px;
}

.btn-primary.custom-btn-with-icon{
    min-width: 250px;
    padding: 13px 16px 14px;
    font-size: 18px;
}

.heading-with-border-bottom{
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 15px;
}

.heading-inline{
    display: inline-block;
    min-width: 250px;
}

.more-description p,
.more-description ul{
    margin-bottom: 10px;
}

 /*التعليقات على المنتج*/

 .comments .media img{
     width: 80px;
     height: 80px;
     margin-left: 10px;
     border: 1px solid #dfdfdf;
 }

 .comments .media .media-heading {
     font-size: 18px;
     margin-bottom: 5px;
 } 

 .comments .media{
     margin: 15px;
 }

 .comments .media:first-child{
     margin-top: 0px;
 }

 .suggestions .custom-thumbnail{
    margin-left: -8px;
    margin-right: -8px;
 }


 /***************************
 *****************
 MEDIA QUERY
 *****************
 ***************************/

 @media (max-width:1199px){

    .custom-navbar .navbar-nav li a.nav-link{
        padding: 8px;
    }
 }

 @media (max-width:991px){

    .custom-navbar{
        padding: 0.5rem 0px 30px;
    }

    .navbar-header {
        display: block;
        width: 100%;
        margin: 11px 15px 23px 5px;
    }
    .navbar-header .custom-btn{
        float: left;
    }

    .form-inline{
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    .form-inline .dropdown{
        display: none;
    }

    .form-inline .custom-form-control{
        width: 86%;
        margin-right: 2%;
    }

    .form-inline .custom-btn-primary{
        width: 10%;
    }

    .custom-navbar a.btn-icon,
     .custom-navbar button.btn-icon{
        padding: 10px;
        margin-right: 5px;
        margin-top: 4px;
        margin-left: 10px;
    }

    .navbar-header .btn-icon i{
        font-size: 19px;
    }

    .custom-navbar .navbar-nav li a.nav-link{
        padding: 10px 15px;
    }

    #carousel-featured .custom-carousel-indicators-primary{
        right: 31%;
    }



    .navbar-collapse{
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }

    .overlay{
        display: none;
    }

    .custom-thumbnail .add-to-cart-btn{
        color: #868686;
        font-weight: normal;
        border: 1px solid #868686;
    }

    #copyright, #social-icons{
        width: 100%;
        text-align: center;
    }

    #social-icons{
        font-size: 150%;
        margin-top: 10px;
    }

   
    /*product page*/

    .product-option{
        width: 50px;
        height: 50px;
        margin: 10px;
        line-height: 50px;
        font-size: 20px;
    }


   

}

@media (max-width:991px) and (min-width:768px){
    .custom-thumbnail img{
        height: 200px;
    }
}

@media (max-width:767px){

    .form-inline .custom-form-control{
        width: 76%;
        margin-right: 2%;
    }

    .form-inline .custom-btn-primary{
        width: 20%;
    }

    #carousel-featured, #carousel-featured .product-details{
        height: auto;
    }

    #carousel-featured .product-details{
        position: static;
        text-align: center;
    }

    #carousel-featured {
        padding-bottom: 25px;
    }

    #carousel-featured .carousel-item img{
        height: 300px;
    }

    #brand-logos img{
        max-height: 50px;
        max-width: 50px;
        margin: 5px 24px 5px 23px;
    }

    #footer-nav .footer-logo{
        margin-bottom: 30px;
    }

    #footer-nav form{
        max-width: 100%;
        width: 100%;
    }

    #newsletter form .input-group{
        width: 100%;
    }

    /*product page*/

    .custom-thumbnail img{
        max-width: 400px;
        padding-right: 25px;
        padding-left: 30px;
    }

}

@media (max-width:575px){

    .form-inline .custom-form-control{
        width: 76%;
        margin-right: 2%;
    }

    .form-inline .custom-btn-primary{
        width: 20%;
    }

    #carousel-featured .carousel-item{
        padding: 0px 35px;
    }

    #footer #brand-logos .img-container img{
        margin: 5px 15px;
    }



    /*product page*/

    #form-product-selection {
        padding-left: 15px;
        padding-right: 15px;
    }

    .custom-thumbnail img{
        max-width: 400px;
    }
    .comments.block-100{
        padding-right: 15px;
    }

}

